@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';

:root {
  --background: #0d0d0e;
}

body {
  color: white;
  background: var(--background);
}

input, input::placeholder {
  color: var(--violet-11);
}

button {
  all: unset;
}
